<!DOCTYPE html>
<html>

<head>
    <%- include('includes/title.ejs') %>
    <%- include('includes/registercss.ejs') %>
</head>

<body>

    <div class="sticky-top">
        <div class="w3-hover-border-blue-gray" style="background-color: black">
            <div class="container-fluid">
                <div class="row">

                    <div class="col-sm-2" style="vertical-align:middle; text-align:center">
                        <img style="width:200px; height:80px" src="/picture/logo2.png" />
                    </div>

                    <div class="col-sm-2" style="text-align: center; margin:auto;">
                        <a style="font-family: 'Kablammo';" class="navigationtext" href="/home"> Home</a>
                    </div>

                    <div class="col-sm-2" style="text-align: center; margin:auto">
                        <div class="dropdown">
                            <a style="font-family: 'Kablammo';" class="navigationtext button_dropdown"
                                href="/product">Product</a>
                            <div class="content_dropdown">
                                <a style="text-decoration: none;" href="/short">SHORT</a>
                                <a style="text-decoration: none;" href="/tshirt">T-SHIRT</a>
                                <a style="text-decoration: none;" href="/pants">PANTS</a>
                                <a style="text-decoration: none;" href="/hoodie">HOODIE</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-2" style="text-align: center; margin:auto">
                        <a style="font-family: 'Kablammo';" class="navigationtext" href="/about">About</a>
                    </div>

                    <% if (user !=null) { %>
                        <div class="col-sm-2" style="text-align: center; margin:auto">
                            <a class="userlogin"><b>
                                    <%= user %>
                                </b></a>
                            <div class="dropdown">
                                <button class="navigationtext button_dropdown fa fa-angle-double-down"></button>
                                <div class="content_dropdown">
                                    <a class="navlogout" href="/logout">Log Out</a>
                                    <a class="navlogout" href="/profile">Profile</a>
                                </div>

                            </div>
                        </div>
                        <% } else { %>
                            <div class="col-sm-1" style="text-align: center; margin:auto">
                                <a class="fas fa-sign-in-alt"
                                    style="color: aliceblue; padding-right: 10px; vertical-align:sub; font-size: 0.7cm;"></a>
                                <a class="navlogin" href="/login">Login</a>
                            </div>
                            <div class="col-sm-1" style="text-align: center; margin:auto">
                                <a class="navlogin" href="/register">Register</a>
                            </div>
                            <% } %>

                                <div class="col-sm-1" style="text-align: center; margin:auto">
                                    <a class="navlogin fa fa-cart-plus" style="font-size: 30px;" href="/cart"></a>
                                </div>
                </div>
            </div>
        </div>

    </div>

    <h2 class="titlepage">Register Form</h2>
    <div class="row11">
        <div class="col-75">
            <div class="container">
                <form method="post" action="register_success">
                    <div class="row11">
                        <div class="col-50">
                            <h3>Information</h3>
                            <label for="fname"><i class="fa fa-user"></i> Full Name</label>
                            <input style="color: black;" type="text" id="username" name="username" required
                                minlength="3" maxlength="10">

                            <label for="email"><i class="fa fa-envelope"></i> Email</label>
                            <input style="color: black;" type="text" id="email" name="email" required minlength="3"
                                maxlength="100">

                            <label for="password"> Password</label><br>
                            <input
                                style="width: 1075px; height: 45px; border-style: ridge 0.1rem; color: black; margin-bottom: 20px;"
                                type="password" id="password" name="password" required minlength="3" maxlength="10">

                            <label for="password"><i></i> Retype-Password</label><br>
                            <input
                                style="width: 1075px; height: 45px; border-style: ridge 0.1rem; color: black;  margin-bottom: 20px;"
                                type="password" id="pass1" required minlength="3" maxlength="10">
                            <span id="check3" style="color: red;"></span>

                            <label for="address"><i class="fa fa-address-card-o"></i> Address</label>
                            <input style="color: black;" type="text" id="address" name="address" required minlength="3"
                                maxlength="10">

                            <label for="phone"><i></i> Phone number</label>
                            <input style="color: black;" type="text" id="phone" name="phone" required minlength="10"
                                maxlength="11">

                            <div class="row1">
                                <div class="col-50">
                                    <input type="checkbox" value="Gentlemen" id="Gentlemen"
                                        onclick="checkSex1()"><label>Male</label>
                                    <input type="checkbox" value="Lady" id="Lady"
                                        onclick="checkSex2()"><label>Female</label>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
            <div style="text-align: center;">
                <input style="width: 10%;" type="submit" value="Register" class="btn">
                <input style="width: 10%;" type="button" value="Clear" class="btn" onclick="ClearData()" />
            </div>
        </div>
        </form>
    </div>
    </div>

    <script>
        function ClearData() {
            document.getElementById("username").value = "";
            document.getElementById("email").value = "";
            document.getElementById("phone").value = "";
            document.getElementById("password").value = "";
            document.getElementById("pass1").value = "";
            document.getElementById("address").value = "";
            document.getElementById("district").value = "";
        }
        setInterval(function checkRegister() {
            var password = document.getElementById("password").value;
            var pass1 = document.getElementById("pass1").value;
            if ((password != pass1)) {
                document.getElementById("check3").innerHTML = "Must be matching";

            }
            else {
                document.getElementById("check3").innerHTML = "";
            }
        }, 1000
        );
        document.getElementById("Gentlemen").checked = true;
        function checkSex2() {
            if (document.getElementById("Gentlemen").checked == true) {
                document.getElementById("Gentlemen").checked = false;
            }
        }
        function checkSex1() {
            if (document.getElementById("Lady").checked == true) {
                document.getElementById("Lady").checked = false;
            }
        }
    </script>
</body>

<footer>
    <div class="container-fluid">
        <div class="row">
            <div style="background-color:lightgray; padding: 20px 0; margin:30px 0">
                <span class="fa fa-phone" style="color: black; font-size:large; margin-left: 30px;"></span>
                <span>Customer Service:</span>
                <span><strong>093.8660.288</strong></span>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-5">
                <h4><strong>Our stores:</strong></h4>
                <p><strong style="cursor: pointer;">Store 1:</strong> 136 Tran Hung Dao street, Ward 3, District
                    3, Ho Chi Minh city</p>
                <p><strong style="cursor: pointer;">Store 2:</strong> 234 Su Van Hanh street, Ward 3, District
                    10, Ho Chi Minh city</p>
                <p><strong style="cursor: pointer;">Store 3:</strong> 567 Le Van Sy street, Ward 3, District 3,
                    Ho Chi Minh city</p>

            </div>
            <div class="col-sm-2" style="font-size: 2em; text-align:center">
                <h4><strong>Contact us</strong></h4>
                <a href="https://www.facebook.com" style="cursor: pointer;" class="fa fa-facebook-official"></a>
                <a href="https://www.instagram.com" style="background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
                -webkit-background-clip: text;
                       
                        background-clip: text;
                -webkit-text-fill-color: transparent;
                
                font-size: 30px;" aria-hidden="true" class="fa fa-instagram"></a>
                <a href="https://youtube.com" style="cursor: pointer; color: red;" class="fa fa-youtube"></a>
            </div>

            <div class="col-sm-5">
                <div>
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1006548.1604370301!2d105.19855391297432!3d9.780553512602301!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f7ea14b92c3%3A0x44f3320b6f7af47f!2zMTM2IFRy4bqnbiBoxrBuZyDEkOG6oW8gLSBwaMaw4budbmcgUGjhuqFtIE5nxakgbMOjbw!5e0!3m2!1svi!2s!4v1679977858318!5m2!1svi!2s"
                        width="100%" height="200px" style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>
    </div>
</footer>

</html>