<html>
    <head>

    </head>
    <body>
        <form method="post" action="confirmOTP">
            <table>
                <tr>
                    <td>
                        <input disabled="1" type="text" value= <%= name %>>
                    </td>
                </tr>

                <tr>
                    <td>
                        <input disabled="1" type="text" value= <%= password %>>
                    </td>
                </tr>

                <tr>
                    <td>
                        <input disabled="1" type="text" value= <%= phone %>>
                    </td>
                </tr>

                <tr>
                    <td>
                        <input disabled="1" type="text" value= <%= email %>>
                    </td>
                </tr>

                <tr>
                    <td>
                        <input type="text" name="otpcode" id="otpcode">
                    </td>
                </tr>

                <tr>
                    <td>
                        <input type="submit" value="Confirm">
                    </td>

            </table>  
        </form>

    </body>
</html>