
@{
    ViewData["Title"] = "Home";
}
<!DOCTYPE html>
<html>
    <head>
        <title>Home Page</title>
 
       
    </head>
    <body>
    <div class="container">
            <div class="row">
                <div class="col-md-6" style="margin-top: 10px">
                    <p style="color:black; font-family:fantasy; font-size:50px; text-align: left;">HOME</p>
                </div>
            <div class="col-md-6" style="text-align:right; margin-top: 30px">
                    <input style="color:black; font-family:fantasy;" type="text" size="50" placeholder="What are you looking for ?" />
                    <a class="fas fa-search"></a>
                </div>
            </div>
    </div>

        <div class="container" style="margin: 50px 0">
            <p style="font-size: 5em; text-align: center; color: blue; font-family: cursive; text-shadow: 5px 5px black;">
                <strong>
                    <span style="color:red">WardRobe's</span><br />
                    <i>
                    NEW COMING COLLECTION
                    </i>
                </strong>
            </p>

            <div style="font-size: 70px; text-align: center; color: darkorange">
                <p class="">Coming soon</p>
            
            </div>

            <div style="margin: 40px" class="zoom">
                <img width="100%" height="500px" src="~/picture/kinh-doanh-ao-thun.jpg" />
            </div>

            <div style="font-size: 70px; text-align: center; color: darkorange">
                <a>...............</a>
                <a class="fas fas fa-truck"></a>
            </div>
        </div>

       

    <div>
        <h2 class="home-h1">BEST SELLER</h2>

        <div class="container-fluid sp-content" style="padding: 0 85px">
            <div class="row">
                <div class="col-md-3" style="padding: 0 10px">
                    <img class="sp" src="~/picture/bestseller/basic cargo pant black 350k.webp" />
                    <p>BASIC CARGO PANTS</p>
                    <p>BLACK</p>
                    <p>350.000đ</p>
                    <div>
                        <button type="button" name="AddToCart">Buy</button>
                    </div>
                </div>

                <div class="col-md-3 zoom" style="padding: 0 10px">
                    <img class="sp" src="~/picture/bestseller/basic knitted cardigan blac 600k.webp" />
                    <p>BASIC KNITTED CARDIGAN</p>
                    <p>BLACK</p>
                    <p>600.000đ</p>
                    <div>
                        <button type="button" name="AddToCart">Buy</button>
                    </div>
                </div>

                <div class="col-md-3 zoom" style="padding: 0 10px">
                    <img class="sp" src="~/picture/bestseller/doubt tee cream 20% 350k còn 280k.webp" />
                    <p>DOUBT TEE CREAM</p>
                    <p>BLACK</p>
                    <p>350.000đ</p>
                    <div>
                        <button type="button" name="AddToCart">Buy</button>
                    </div>
                </div>

                <div class="col-md-3 zoom" style="padding: 0 10px">
                    <img class="sp" src="~/picture/bestseller/logo tê white 300k.webp" />
                    <a>CHINO PANTS - BLACK</a>                    
                    <div>Sale 14%</div>
                    <div style="text-decoration:line-through">350.000đ</div>
                    <div>300.000đ</div>
                    <div>
                        <button type="button" name="AddToCart">Buy</button>
                    </div>
                </div>
                <br />
                <div class="col-md-3 zoom" style="padding: 0 10px">
                    <img class="sp" src="~/picture/bestseller/memory black 20% 350k còn 280k.webp" />
                    <a>MEMORY - BLACK</a>
                    <div>Sale 20%</div>
                    <div style="text-decoration:line-through">350.000đ</div>
                    <div>280.000đ</div>
                    <div>
                        <button type="button" name="AddToCart">Buy</button>
                    </div>
                </div>

                <div class="col-md-3 zoom" style="padding: 0 10px">
                    <img class="sp" src="~/picture/bestseller/money sweater black 460k.webp" />
                    <p>MONEY SWEATER</p>
                    <p>BLACK</p>
                    <p>460.000đ</p>
                    <div>
                        <button type="button" name="AddToCart">Buy</button>
                    </div>
                </div>

                <div class="col-md-3 zoom" style="padding: 0 10px">
                    <img class="sp" src="~/picture/bestseller/parachute pant black 520k.webp" />
                    <p>PARACHUTE PANTS</p>
                    <p>BLACK</p>
                    <p>520.000đ</p>
                    <div>
                        <button type="button" name="AddToCart">Buy</button>
                    </div>
                </div>

                <div class="col-md-3 zoom" style="padding: 0 10px">
                    <img class="sp" src="~/picture/bestseller/wind baby tee black 320k.webp" />
                    <p>WIND BABY TEE</p>
                    <p>BLACK</p>
                    <p>320.000đ</p>
                    <div>
                        <button type="button" name="AddToCart">Buy</button>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <footer>
        <div class="container" style="margin: 20px 0">
            <div class="row" style="background-color:lightgray; padding: 20px 0">
                <div class="col-md-12">
                    <a class="fas fa-phone-volume"></a>
                    <a>Hỗ trợ mua hàng:</a>
                    <a>0938.660.288</a>
                </div>
                
            </div>

            <div class="row" style="padding: 20px 0">
                <div class="col-md-">
                    <a class="fas fa-phone-volume"></a>
                    <a>Hỗ trợ mua hàng:</a>
                    <a>0938.660.288</a>
                </div>

            </div>

        </div>
        
        
    </footer>   
         
    </body>

    

</html>

