
@{
    ViewData["Title"] = "Product";
}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/productCss.css" />
</head>
<body>
    
    <h1 class="h0">PRODUCT SPACE</h1><br>

    <h2 class="h2">Jeans</h2>
<form>

<div class="container">
    <div class="row">
        <div class="col-sm-3" style="background-color: lightgreen">
             <div><img src="~/picture/jeans/j1.jpg" style="width:100%;" /></div>
             <div>Black jeans</div>
             <div>19.99$</div>
             <div><button type="button" name="AddCart">Add cart</button></div>
             <a class="detail_page" asp-area="" asp-controller="Home" asp-action="Details">Details</a>
        </div>

        <div class="col-sm-3" style="background-color: lightblue">
             <div><img src="~/picture/jeans/j2.jpg" style="width:100%;" /></div>
             <div>LightBlue jeans</div>
             <div>22.99$</div>
             <div><button type="button" name="AddCart">Add cart</button></div>
             <a class="detail_page" asp-area="" asp-controller="Home" asp-action="Details">Details</a>
        </div>

        <div class="col-sm-3" style="background-color: lightpink">
             <div><img src="~/picture/jeans/j3.jpg" style="width:100%; height: 350px" /></div>
             <div>DarkBlue jeans</div>
             <div>21.99$</div>
             <div><button type="button" name="AddChart">Add chart</button></div>
             <a class="detail_page" asp-area="" asp-controller="Home" asp-action="Details">Details</a>
        </div>

        <div class="col-sm-3" style="background-color: lightsalmon">
             <div><img src="~/picture/jeans/j4.jpg" style="width:100%; height: 350px" /></div>
             <div>Nameless jeans</div>
             <div>25.99$</div>
             <div><button type="button" name="AddChart">Add chart</button></div>
             <a class="detail_page" asp-area="" asp-controller="Home" asp-action="Details">Details</a>
        </div>
    </div>
</div>
        <h2 class="h2">Ring</h2>

        <div class="container">
            <div class="row">
                <div class="col-sm-3" style="background-color: lightgreen">
                    <div><img src="~/picture/rings/r1.jpg" style="width:100%;" /></div>
                    <div>Poseidon Ring</div>
                    <div>9.99$</div>
                    <div><button type="button" name="AddChart">Add chart</button></div>
                    <a class="detail_page" asp-area="" asp-controller="Home" asp-action="Details">Details</a>
                </div>

                <div class="col-sm-3" style="background-color: lightsalmon">
                    <div><img src="~/picture/rings/r2.jpg" style="width:100%;" /></div>
                    <div>Dionysus Ring</div>
                    <div>8.99$</div>
                    <div><button type="button" name="AddChart">Add chart</button></div>
                    <a class="detail_page" asp-area="" asp-controller="Home" asp-action="Details">Details</a>
                </div>

                <div class="col-sm-3" style="background-color: lightyellow">
                    <div><img src="~/picture/rings/r3.jpg" style="width:100%;height: 265px" /></div>
                    <div>Apollo Ring</div>
                    <div>11.99$</div>
                    <div><button type="button" name="AddChart">Add chart</button></div>
                    <a class="detail_page" asp-area="" asp-controller="Home" asp-action="Details">Details</a>
                </div>

                <div class="col-sm-3" style="background-color: lightpink">
                    <div><img src="~/picture/rings/r4.jpg" style="width:100%;" /></div>
                    <div>Ares Ring</div>
                    <div>13.99$</div>
                    <div><button type="button" name="AddChart">Add chart</button></div>
                    <a class="detail_page" asp-area="" asp-controller="Home" asp-action="Details">Details</a>
                </div>
            </div>
        </div>

        <h2 class="h2">Sneaker</h2>

        <div class="container">
            <div class="row">
                <div class="col-sm-3" style="background-color: lightyellow">
                    <div><img src="~/picture/sneaker/sp1.jpg" style="width:100%;" /></div>
                    <div>Nike Air Force 1</div>
                    <div>399.99$</div>
                    <div><button type="button" name="AddChart">Add chart</button></div>
                    <a class="detail_page" asp-area="" asp-controller="Home" asp-action="Details">Details</a>
                </div>

                <div class="col-sm-3" style="background-color: lightblue">
                    <div><img src="~/picture/sneaker/sp2.jpg" style="width:100%; height: 265px" /></div>
                    <div>Nike Baby Blue</div>
                    <div>349.99$</div>
                    <div><button type="button" name="AddChart">Add chart</button></div>
                    <a class="detail_page" asp-area="" asp-controller="Home" asp-action="Details">Details</a>
                </div>

                <div class="col-sm-3" style="background-color: lightcoral">
                    <div><img src="~/picture/sneaker/sp3.jpg" style="width:100%;height: 265px" /></div>
                    <div>Nike Air Jordan 1 Low ‘White Wolf Grey’</div>
                    <div>449.99$</div>
                    <div><button type="button" name="AddChart">Add chart</button></div>
                    <a class="detail_page" asp-area="" asp-controller="Home" asp-action="Details">Details</a>
                </div>

                <div class="col-sm-3" style="background-color: lightgray">
                    <div><img src="~/picture/sneaker/sp4.jpg" style="width:100%;" /></div>
                    <div>Nike Air Force 1 low JUST DO IT</div>
                    <div>599.99$</div>
                    <div><button type="button" name="AddChart">Add chart</button></div>
                    <a class="detail_page" asp-area="" asp-controller="Home" asp-action="Details">Details</a>
                </div>
            </div>
        </div>

        <h2 class="h2">T-shirt</h2>

        <div class="container">
            <div class="row">
                <div class="col-sm-3" style="background-color: lightgoldenrodyellow">
                    <div><img src="~/picture/T-shirt/s1.jpg" style="width:100%;" /></div>
                    <div>Only white</div>
                    <div>19.99$</div>
                    <div><button type="button" name="AddChart">Add chart</button></div>
                    <a class="detail_page" asp-area="" asp-controller="Home" asp-action="Details">Details</a>
                </div>

                <div class="col-sm-3" style="background-color: lightgrey">
                    <div><img src="~/picture/T-shirt/s2.jpg" style="width:100%; height: 265px" /></div>
                    <div>Blue light</div>
                    <div>16.99$</div>
                    <div><button type="button" name="AddChart">Add chart</button></div>
                    <a class="detail_page" asp-area="" asp-controller="Home" asp-action="Details">Details</a>
                </div>

                <div class="col-sm-3" style="background-color: lightseagreen">
                    <div><img src="~/picture/T-shirt/s3.jpg" style="width:100%;height: 265px" /></div>
                    <div>Day Night</div>
                    <div>19.99$</div>
                    <div><button type="button" name="AddChart">Add chart</button></div>
                    <a class="detail_page" asp-area="" asp-controller="Home" asp-action="Details">Details</a>
                </div>

                <div class="col-sm-3" style="background-color: lightslategrey">
                    <div><img src="~/picture/T-shirt/s4.jpg" style="width:100%; height: 265px" /></div>
                    <div>Organce Juice</div>
                    <div>11.99$</div>
                    <div><button type="button" name="AddChart">Add chart</button></div>
                    <a class="detail_page" asp-area="" asp-controller="Home" asp-action="Details">Details</a>
                </div>
            </div>
        </div>

    </form>
<script>
let slideIndex = 0;
showSlides();

function showSlides() {
  let i;
  let slides = document.getElementsByClassName("mySlides");
  let dots = document.getElementsByClassName("dot");
  for (i = 0; i < slides.length; i++) {
    slides[i].style.display = "none";  
  }
  slideIndex++;
  if (slideIndex > slides.length) {slideIndex = 1}    
  for (i = 0; i < dots.length; i++) {
    dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";  
  dots[slideIndex-1].className += " active";
  setTimeout(showSlides, 3000); // Change image every 2 seconds
}
</script>

</body>
</html> 